footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 20px;
    color: #bdc3c7;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #1a242f;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #bdc3c7;
    margin-bottom: 30px; 
}
